---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

Apr 2021 Conference American Physical Society April Meeting, Online<br/>
Presentation: <i>Fast time-domain waveform model of compact-binary coalescences for LIGO and Virgo observations</i>

Oct 2020 <b>King's College London, Theoretical Particle Physics & Cosmology Weekly seminar</b>, Online<br/>
Seminar: <i>Low-frequency gravitational waves with Gaia astrometry</i>

May 2020 <b>Leibniz Institute for Astrophysics Potsdam, Cosmology seminar</b>, Online<br/>
Seminar: <i>Gravitational waves with astrometry in the Gaia era</i>

Sep 2019 Conference <b>Gravitational Waves from the Early Universe</b>, Stockholm, Sweden<br/>
Talk: <i>Low-frequency gravitational wave detection with astrometric data</i>

May 2019 Conference <b>Phenomenology 2019 Symposium</b>, Pittsburgh, USA<br/>
Talk: <i>Detecting gravitational waves through stellar astrometry</i>

Apr 2019 <b>University College Dublin, School of Mathematics and Statistics</b>, Dublin, Ireland<br/>
Seminar: <i>Transition of EMRIs through resonance</i>

Nov 2018 <b>Department of Physics, Carnegie Mellon University</b>, Pittsburgh, USA<br/>
Seminar: <i>An astrometric search method for gravitational waves with Gaia</i>

Nov 2018 <b>Canadian Institute for Theoretical Astrophysics, University of Toronto</b>, Toronto, USA<br/>
Cosmology Discussion: <i>An astrometric search method for gravitational waves with Gaia</i>

Nov 2018 <b>Center for Particle Cosmology, University of Pennsylvania</b>, Philadelphia, USA<br/>
Seminar: <i>Astrometric effects of Gravitational Waves</i>

Nov 2018 <b>Institute of Advanced Study</b>, Princeton, USA<br/>
Princeton/IAS Cosmology Lunch: <i>Astrometric effects of Gravitational Waves</i>

Nov 2018 <b>Department of Astronomy, Columbia University</b>, New York, US<br/>
Seminar: <i>An astrometric search method for gravitational waves with arbitrary polarization modes using data from Gaia</i>

Oct 2018 <b>Center for Astrophysics, Harvard University</b>, Boston, USA<br/>
Galaxies & Cosmology Seminar: <i>An astrometric search method for gravitational waves with Gaia</i>

Oct 2018 <b>Massachusetts Institute of Technology</b>, Boston, USA<br/>
General Relativity Informal Tea-Time Series: <i>Astrometric effects of Gravitational Waves</i>

May 2018 <b>Max Planck Institute for Astrophysics</b>, Garching, Germany<br/>
Seminar: <i>Astrometric effects of Gravitational Waves</i>

May 2018 <b>IST, University of Lisbon</b>, Lisbon, Portugal<br/>
Seminar: <i>Astrometric effects of Gravitational Waves</i>

Feb 2018 <b>Department of Physics, University of Oxford</b>, Oxford, UK<br/>
Seminar: <i>Astrometric effects of Gravitational Waves</i>

Jan 2017 <b>American Physical Society April Meeting</b>, Washington DC, USA<br/>
Presentation: <i>Hamiltonian formalism for Perturbed Black Hole Space-times</i>

Nov 2016 <b>Institute of Astronomy Public Lecture Evenings</b>, Cambridge, UK<br/>
Talk: <i>Gravitational Waves: Listening to the Birth of Our Universe</i>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
