---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p>2022 &bull; <b>Nordita Winter School 2022 -- Waves in Astrophysics</b>, Stockholm, Sweden<br/>
Topical lecture: <i>Correlations in the sky</i></p>

<p>2014 - 2019 &bull; <b>University of Cambridge</b>, Cambridge, United Kingdom<br/>
Courses: <i>General Relativity, Advanced Theoretical Physics</i></p>

<p>2013 &bull; <b>King's College London</b>, London, United Kingdom<br/>
Course: <i>Introduction to Dynamical Systems</i></p>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
